[keyboard]
name = "macro"
product_name = "macropad"
vendor_id = 0x4c4b
product_id = 0x4602
manufacturer = "hoopy"
chip = "esp32s3"

[matrix]
row_pins = ["GPIO1", "GPIO2", "GPIO3", "GPIO4"]
col_pins = ["GPIO5", "GPIO6", "GPIO7"]

[layout]
rows = 4
cols = 3
layers = 2

keymap = [
    # Layer 0: Default
    [
        ["WM(X, LCtrl | LShift)", "F4", "F11"],
        ["PrintScreen", "AudioMute", "Calculator"],
        ["F5", "WwwSearch", "MediaPlayPause"],
        ["MO(1)", "_", "_"]
    ],
    # Layer 1: Brightness/Utility
    [
        ["_", "_", "_"],
        ["_", "_", "_"],
        ["_", "WM(F4, LAlt)"", "_"],
        ["_", "_", "_"]
    ]
]

# Encoder mappings per layer
encoder_keymap = [
    # Layer 0
    [["AudioVolUp", "AudioVolDown"]],
    # Layer 1
    [["BrightnessUp", "BrightnessDown"]]
]
[[input_device.encoder]]
pin_a = "GPIO8"
pin_b = "GPIO9"
resolution = 2

[ble]
enabled = true
battery_adc_pin = "GPIO10"
