[keyboard]
name = "MACRO"
product_name = "Macropad"
vendor_id = 0x4c4b
product_id = 0x4602
manufacturer = "HOOPY"
chip = "esp32s3"

[matrix]
row_pins = ["GPIO1", "GPIO2", "GPIO3", "GPIO4"]
col_pins = ["GPIO5", "GPIO10", "GPIO11"] 

[layout]
rows = 4
cols = 3
layers = 2
keymap = [
    # Layer 0: Default
    [
        ["LCtrl(LShift(X))", "F4", "F11"],
        ["PrintScreen", "AudioMute", "Calculator"],
        ["F5", "WwwSearch", "MediaPlayPause"],
        ["MO(1)", "_", "_"]
    ],
    # Layer 1: Brightness/Utility
    [
        ["_", "_", "_"],
        ["_", "_", "_"],
        ["_", "LAlt(F4)", "_"],
        ["_", "_", "_"]
    ]
]

# Encoder Keymap (Moved from [sensor] to here)
# Structure: [Layer [Encoder [CW, CCW]]]
encoder_keymap = [
    # Layer 0: Volume
    [ ["AudioVolUp", "AudioVolDown"] ],
    # Layer 1: Brightness
    [ ["BrightnessUp", "BrightnessDown"] ]
]

[[input_device.encoder]]
pin_a = "GPIO6"
pin_b = "GPIO7"
resolution = 2
]

[ble]
enabled = true
battery_adc_pin = "GPIO9"
